@import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";
*{
  margin: 0px;
  /* background: #F4F4FB; */
}
.App {
  text-align: center;
}
.react-datepicker__input-container{
  width: 15vw;
}
h1{
  background-color: rgb(76, 39, 149);
  color: white;
  padding: 10px;
}
.btn{
  padding: 8px 20px;
    border-radius: 7px;
    margin: 20px;
    color: white;
    background-color: #f52d58;
}